[submodule "cardiac_dicom_to_surface_mesh"]
	path = cardiac_dicom_to_surface_mesh
	url = https://github.com/jennyhelyanwe/cardiac_dicom_to_surface_mesh.git
[submodule "cardiac_surface_to_volumetric_mesh"]
	path = cardiac_surface_to_volumetric_mesh
	url = https://github.com/jennyhelyanwe/cardiac_surface_to_volumetric_mesh.git
[submodule "sim-based-inf-clin"]
	path = sim-based-inf-clin
	url = https://github.com/jennyhelyanwe/sim-based-inf-clin.git
[submodule "simcardems"]
	path = simcardems
	url = https://github.com/jennyhelyanwe/simcardems.git
[submodule "biv-me"]
	path = biv-me
	url = https://github.com/UOA-Heart-Mechanics-Research/biv-me.git
